<%= form_for @product, url: product_path(@product), method: :patch do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> impidieron guardar este producto:</h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<%= form_for [@product, @product.reviews.build] do |f| %>
  <p>
    <%= f.label :name, "Nombre" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :rating, "Calificación" %><br>
    <%= f.number_field :rating, in: 1..5 %>
  </p>
  <p>
    <%= f.label :comment, "Comentario" %><br>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit "Agregar reseña" %>
  </p>
<% end %>

