<h1><%= @product.name %></h1>
<p><%= image_tag @product.image.url %></p>
<p><strong>Precio:</strong> <%= number_to_currency(@product.price) %></p>
<p><strong>Descripción:</strong> <%= @product.description %></p>
<%= button_to "Solicitar", new_solicitude_path(@product), method: :get, class: "btn btn-primary" %>
  
<h2>Agregar reseña:</h2>
<%= form_for [@product, @review] do |f| %>
    <p>
    <%= f.label :calificación %> 
    <%= f.select :rating, [1, 2, 3, 4, 5] %>
  </p>
  <p>
    <%= f.label :comentario %><br>
    <%= f.text_area :comment %>
  </p>
  <%= f.submit 'Agregar reseña' %>
<% end %>

<% @product.reviews.each do |review| %>
  <div class="review">
    <p>Reseña de: <%= review.user_name %></p>
    <p>Calificación: <%= review.rating %></p>
    <p><%= review.comment %></p>
    <% if current_user.admin? %>
      <%= button_to 'Eliminar', eliminar_review_path(review), method: :delete %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Volver', products_path %>