<div class="container-producto">
  <div class="product-details">
    <h1><%= @product.name %></h1>
    <div class="product-image">
      <%= image_tag @product.image.url %>
    </div>
    <div class="product-info">
      <p><strong>Precio:</strong> <%= number_to_currency(@product.price) %></p>
      <p><strong>Descripci칩n:</strong> <%= @product.description %></p>
      <%= button_to "Solicitar", new_solicitude_path(@product), method: :get, class: "btn btn-primary" %>
      <%= link_to 'Agregar rese침a', new_product_review_path(@product), class: "btn btn-primary" %>
      <%= link_to "Preguntas del foro", questions_path(product_id: @product.id), class: "btn btn-primary" %>
    </div>
    <%= link_to 'Volver', products_path, class: "link-back" %>
  </div>

  <% @product.reviews.each do |review| %>
    <div class="review">
      <p>Rese침a de: <%= review.user_name %></p>
      <p>Calificaci칩n: <%= review.rating %></p>
      <p><%= review.comment %></p>
      <% if current_user.admin? || current_user.name == review.user_name %>
        <%= button_to 'Eliminar', eliminar_review_path(review), method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>

<%= stylesheet_link_tag 'productos_show', media: 'all' %>