<!DOCTYPE html>
<html>
  <head>
    <title>PSoftware50</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="container mt-4 mb-4">
    <div class="container-titulo">
      <h1>Posters Chetados</h1>
    </div>
    <%= render 'layouts/navbar' %>
  </header>

  <body>
    <% if user_signed_in? %>
      <p>Sesión iniciada como <%= current_user.name %></p>
    <% else %>
      <div class="pagina-bienvenida">
        <a href="https://render.com">
          <%= image_tag 'm&c.png', class: 'mw-100' %>
        </a>
        <p><strong>¡Para acceder a los detalles de los productos debes iniciar sesión!</strong> </p>
      </div>
    <% end %>
    
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    
    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>

  <%= yield %>
  </body>
</html>

